.container {
  width: 100%;
  height: fit-content;
  border: 1px solid #e1dddd;
  background-color: #f5f5f5;
  cursor: pointer;
  padding: 24px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;

  &__text {
    text-align: center;
  }
}